<!DOCTYPE html>
<html>
  <head>
    <title>ConsoleLogOverflow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
    window.blankLoveToCodeURL = "<%= image_url("blanklovetocode.png") %>"
    window.orangePix = "<%= image_url("circle-orange-icon.jpg") %>"
    window.icon = "<%= image_url("icon.svg") %>"
    window.titlenotscrolled = "<%= image_url("titlenotscrolled.png") %>"
    window.titlescrolled = "<%= image_url("titlescrolled.png") %>"
    window.leftForDev = "<%= image_url("left-for-dev.svg") %>"
    window.centerForDev = "<%= image_url("center-for-dev.svg") %>"
    window.rightForDev = "<%= image_url("right-for-dev.svg") %>"


    </script>





  </head>

  <body>
    <%= yield %>
  </body>
</html>
