<!DOCTYPE html>
<html>
  <head>
    <title>ConsoleLogOverflow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
    window.blankLoveToCodeURL = "<%= image_url("blanklovetocode.png") %>"
    window.orangePix = "<%= image_url("circle-orange-icon.jpg") %>"
    window.icon = "<%= image_url("icon.svg") %>"

    window.titlenotscrolled = "<%= image_url("new_logo_default.png") %>"
    window.titlescrolled = "<%= image_url("new_logo_scrolled.png") %>"


    window.leftForDev = "<%= image_url("left-for-dev.svg") %>"
    window.centerForDev = "<%= image_url("center-for-dev.svg") %>"
    window.rightForDev = "<%= image_url("right-for-dev.svg") %>"
    window.loginLogo = "<%= image_url("logo-login.png") %>"

    window.questionsTab1 = "<%= image_url("q-1-tab.png") %>"
    window.questionsTab2 = "<%= image_url("q-2-tab.png") %>"
    window.questionsTab3 = "<%= image_url("q-3-tab.png") %>"
    window.questionsTab4 = "<%= image_url("q-4-tab.png") %>"
    window.questionsTab5 = "<%= image_url("q-5-tab.png") %>"
    window.questionsTab6 = "<%= image_url("q-6-tab.png") %>"

    window.questionsMain1 = "<%= image_url("questions-1.svg") %>"
    window.questionsMain2 = "<%= image_url("questions-2.svg") %>"
    window.questionsMain3 = "<%= image_url("questions-3.svg") %>"
    window.questionsMain4 = "<%= image_url("questions-4.svg") %>"
    window.questionsMain5 = "<%= image_url("questions-5.svg") %>"
    window.questionsMain6 = "<%= image_url("questions-6.svg") %>"

    window.learnAndGrow1 = "<%= image_url("learn-and-grow-1.svg") %>"
    window.learnAndGrow2 = "<%= image_url("learn-and-grow-2.svg") %>"
    window.learnAndGrow3 = "<%= image_url("learn-and-grow-3.svg") %>"
    window.learnAndGrow4 = "<%= image_url("learn-and-grow-4.svg") %>"

    window.signUpWidget1 = "<%= image_url("signup-widget-1.png") %>"
    window.signUpWidget2 = "<%= image_url("signup-widget-2.png") %>"
    window.signUpWidget3 = "<%= image_url("signup-widget-3.png") %>"
    window.signUpWidget4 = "<%= image_url("signup-widget-4.png") %>"

    window.footerLinkedIn = "<%= image_url("LinkedinLogo.png") %>"
    window.footerGithub = "<%= image_url("GithubLogo.png") %>"
    window.footerStackOverflow = "<%= image_url("betterstackoverflowlogo.png") %>"





    </script>





  </head>

  <body>
    <%= yield %>
  </body>
</html>
